.carrosel__titulo {
    font-size: 18px;
    font-weight: 700;
    color: var(--laranja);
    text-align: center;
    padding: 1em 0 0.5em 0;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}
.swiper-button-prev, .swiper-button-next {
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
@media screen and (min-width: 1024px) {
    .carrosel__titulo{
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        top: 60%;
    }
    
    .swiper{
        width: 60%;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

}
@media screen and (min-width: 1728px){
    .carrosel__container {
        display: flex;
        align-items:end;
        padding: 6em 10em;
        gap: 4em; 
    }
    
        .descricao__titulo {
            font-size: 32px;
        }
        .descricao__texto {
            font-size: 16px;
        }
    
    
}